alembic==1.0.0
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backoff==1.8.0
beautifulsoup4==4.6.3
certifi==2018.8.13
chardet==3.0.4
click==6.7
coverage==4.5.3
Flask==1.0.2
Flask-Babel==0.11.2
Flask-Security==3.0.0
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
github3.py==1.1.0
gunicorn==19.9.0
idna==2.7
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
Markdown==3.0.1
MarkupSafe==1.1.1
more-itertools==4.3.0
passlib==1.7.1
pluggy==0.8.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
py==1.7.0
Pygments==2.2.0
pytest==4.0.1
pytest-cov==2.6.1
python-dateutil==2.7.3
python-dotenv==0.9.1
python-editor==1.0.4
pytz==2018.5
redis==2.10.6
requests==2.20.0
six==1.11.0
uritemplate==3.0.0
urllib3==1.23
waitress==1.1.0
WebOb==1.8.4
WebTest==2.0.32
Werkzeug==0.14.1
WTForms==2.2.1
