{% extends 'wiki/base.html' %}
{%- from '_helpers.html' import render_field %}

{% set update = False %}
{% set ace_editor = True %}

{% if form.id %}
  {% set update = True %}
{% endif %}

{% block title %} {% if update %}Update {% else %}Create {% endif %} Wiki | Qualitas{% endblock title %}

{% block content %}
  <div class="container page">

    <div class="row">
      <div class="col s12 offset-m1 m11 offset-l1 l11 ">
        <div class="form-wrapper">
          <form id="text-editor-form" method="POST" role="form">
            {{ form.hidden_tag() }}

            {% if update %}
              {{ form.id() }}
            {% endif %}

            <!-- Title Field -->
            {% call render_field(form.title) %}
              <div class="wiki-title-wrapper">
                {{ form.title(id='wiki-title', placeholder='Enter the title') }}
              </div>
            {% endcall %}

            <!-- TextArea Field -->
            {% call render_field(form.text) %}
              <div class="text-editor-wrapper">
                <label>Wiki Text</label>
                {{ form.text(id='wiki-text', class='materialize-textarea', rows=20, **{'data-editor': 'markdown'}) }}
              </div>
            {% endcall %}

            <!-- Draft and Public Checkbox Fields -->
            <div class="row">
              <div class="col s12 offset-m1 m11 offset-l1 l11">
                <p>
                  <label>
                    {{ form.draft() }}
                    <span>{{ form.draft.label }}</span>
                  </label>
                </p>
                <p>
                  <label>
                    {{ form.public() }}
                    <span>{{ form.public.label }}</span>
                  </label>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col s12 offset-m1 m11 offset-l1 l11">
                <p class="left-align">
                  <button type="submit" class="btn btn-large waves-effect waves-light">Submit</button>
                  <a href="{% if update %}{{ url_for('wiki.detail', title=form.title.data) }}{% else %}{{ url_for('wiki.index') }}{% endif %}" class="btn btn-large waves-effect waves-light grey lighten-1">Cancel</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
