{% extends 'dashboards/base.html' %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col s12">
      <h2>Pull Request Data</h2>
        <div class="repo-table-wrapper">
          <table id="repo-table" class="cell-border">
              <thead>
              <tr>
                <th>Repository</th>
                <th>PR ID</th>
                <th>Commit Message</th>
                <th>Commit SHA</th>
              </tr>
              </thead>
              <tbody>
                {% for commit in pr_commits %}
                  <tr>
                    <td>{{ commit.repository }}</td>
                    <td><a href="{{ commit.pr_link }}" target="_blank">{{ commit.pr_id }}</a></td>
                    <td>{{ commit.commit_message }}</td>
                    <td><a href="{{ commit.commit_link }}" target="_blank">{{ commit.commit_sha[:7] }}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready( function () {
      $('#repo-table').DataTable(
        {
          "pageLength": 20,
          "columnDefs": [
            {
              "targets": 2,
              "className": "dt-left",
              "render": function(data, type, row) {
                return data.replace(/(?:\r\n|\r|\n)/g, "<br>");
              }

            }
          ],
        }
        );
    } );
  </script>

{% endblock scripts %}
