<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=512">
  <link rel="shortcut icon" href="{{ url_for('static', filename='ico/rotary.ico') }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/urlcommands.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/urlcommands/urlcommands.js') }}"></script>
  <title>Qualitas | URL Commands Dashboard</title>
</head>
<body>
  <h1 class="title">URL Commands Dashboard</h1>
  <div id="container">

    <div class="toplinks"><a class="toplinks" href="https://docs.google.com/document/d/1zuI2a4ddkngxvH0HgnpiHe28c34kPHk4sgzo4aBfzDQ/edit#heading=h.exariqofiypd">
      Servers and logins</a> <a class="toplinks" href="https://docs.google.com/spreadsheets/d/11CGHo9aVPjCnB7bce4BVlhaOwW9LE1gBCxGgAmTbSvg/edit#gid=0">Original commands sheet</a>
    </div>

<!--LEFT COLUMN  -->
    <div class="column-left">
      <h2>
        <span class="servername easyvm5" onclick="gotoserver(this.classList)">legacy-easyvm5.cnx.org</span>
        <span class="servername easyvm5" onclick="frontend(this.classList)">(front end)</span>
      </h2>
      <ul>
        <li><span class="command easyvm5" onclick="collxml(this.classList)">collection.xml</span></li>
        <li><span class="command easyvm5" onclick="completezip(this.classList)">complete zip</span></li>
        <li><span class="command easyvm5" onclick="metadata(this.classList)">content info (metadata)</span></li>
        <li><span class="command easyvm5" onclick="downloads(this.classList)">downloads</span></li>
        <li><span class="command easyvm5" onclick="enqueue(this.classList)">enqueue</span></li>
        <li><span class="command easyvm5" onclick="latest(this.classList)">latest</span></li>
        <li><span class="command easyvm5" onclick="lock(this.classList)">lock</span></li>
        <li><span class="command easyvm5" onclick="downloadPDF(this.classList)">pdf</span></li>
        <li><span class="command easyvm5" onclick="printparameters(this.classList)">print parameters</span></li>
        <li><span class="command easyvm5" onclick="printinfo(this.classList)">printinfo</span></li>
        <li><span class="command easyvm5" onclick="qptool(this.classList)">query_ptool</span></li>
        <li><span class="command easyvm5" onclick="source(this.classList)">source (module)</span></li>
        <li><span class="command easyvm5" onclick="unlock(this.classList)">unlock</span></li>
        <li><span class="command easyvm5" onclick="versionhistory(this.classList)">version history</span></li>
        <li><span class="command easyvm5" onclick="webview(this.classList)">webview</span></li>
        <li><em><a class="command easyvm5" onclick="queue_tool(this.classList)">Queue Tool (legacy print)</a></em></li>
        <li><em><a class="command easyvm5" onclick="gob(this.classList)">GOB Baking Monitoring Tool</a></em></li>
      </ul>

      <h2>
        <span class="servername prod" onclick="gotoserver(this.classList)">legacy.cnx.org</span>
        <span class="servername prod" onclick="frontend(this.classList)">(front end)</span>
      </h2>
      <ul>
        <li><span class="command prod" onclick="collxml(this.classList)">collection.xml</span></li>
        <li><span class="command prod" onclick="completezip(this.classList)">complete zip</span></li>
        <li><span class="command prod" onclick="metadata(this.classList)">content info (metadata)</span></li>
        <li><span class="command prod" onclick="downloads(this.classList)">downloads</span></li>
        <li><span class="command prod" onclick="enqueue(this.classList)">enqueue</span></li>
        <li><span class="command prod" onclick="latest(this.classList)">latest</span></li>
        <li><span class="command prod" onclick="downloadPDF(this.classList)">pdf</span></li>
        <li><span class="command prod" onclick="printparameters(this.classList)">print parameters</span></li>
        <li><span class="command prod" onclick="printinfo(this.classList)">printinfo</span></li>
        <li><span class="command prod" onclick="qptool(this.classList)">query_ptool</span></li>
        <li><span class="command prod" onclick="source(this.classList)">source (module)</span></li>
        <li><span class="command prod" onclick="versionhistory(this.classList)">version history</span></li>
        <li><span class="command prod" onclick="webview(this.classList)">webview</span></li>
        <li><em><a class="command prod" onclick="queue_tool(this.classList)">Queue Tool (legacy print)</a></em></li>
        <li><em><a class="command prod" onclick="gob(this.classList)">GOB Baking Monitoring Tool</a></em></li>
      </ul>

      <h2><span class="servername custom" onclick="gotoserver(this.classList)">Custom domain</span>
          <span class="servername custom" onclick="frontend(this.classList)">(front end)</span>
      </h2>
      <ul>
        <li><span class="command custom" onclick="collxml(this.classList)">collection.xml</span></li>
        <li><span class="command custom" onclick="completezip(this.classList)">complete zip</span></li>
        <li><span class="command custom" onclick="metadata(this.classList)">content info (metadata)</span></li>
        <li><span class="command custom" onclick="downloads(this.classList)">downloads</span></li>
        <li><span class="command custom" onclick="enqueue(this.classList)">enqueue</span></li>
        <li><span class="command custom" onclick="latest(this.classList)">latest</span></li>
        <li><span class="command custom" onclick="lock(this.classList)">lock</span></li>
        <li><span class="command custom" onclick="downloadPDF(this.classList)">pdf</span></li>
        <li><span class="command custom" onclick="printparameters(this.classList)">print parameters</span></li>
        <li><span class="command custom" onclick="printinfo(this.classList)">printinfo</span></li>
        <li><span class="command custom" onclick="qptool(this.classList)">query_ptool</span></li>
        <li><span class="command custom" onclick="source(this.classList)">source (module)</span></li>
        <li><span class="command custom" onclick="unlock(this.classList)">unlock</span></li>
        <li><span class="command custom" onclick="versionhistory(this.classList)">version history</span></li>
        <li><span class="command custom" onclick="webview(this.classList)">webview</span></li>
        <li><em><a class="command custom" onclick="queue_tool(this.classList)">Queue Tool (legacy print)</a></em></li>
        <li><em><a class="command custom" onclick="gob(this.classList)">GOB Baking Monitoring Tool</a></em></li>
      </ul>
</div>


<!-- RIGHT COLUMN -->
    <div class="column-right">
      <h2>
        <span class="servername staging" onclick="gotoserver(this.classList)">legacy-staging.cnx.org</span>
        <span class="servername staging" onclick="frontend(this.classList)">(front end)</span>
      </h2>
      <ul>
        <li><span class="command staging" onclick="collxml(this.classList)">collection.xml</span></li>
        <li><span class="command staging" onclick="completezip(this.classList)">complete zip</span></li>
        <li><span class="command staging" onclick="metadata(this.classList)">content info (metadata)</span></li>
        <li><span class="command staging" onclick="downloads(this.classList)">downloads</span></li>
        <li><span class="command staging" onclick="enqueue(this.classList)">enqueue</span></li>
        <li><span class="command staging" onclick="latest(this.classList)">latest</span></li>
        <li><span class="command staging" onclick="lock(this.classList)">lock</span></li>
        <li><span class="command staging" onclick="downloadPDF(this.classList)">pdf</span></li>
        <li><span class="command staging" onclick="printparameters(this.classList)">print parameters</span></li>
        <li><span class="command staging" onclick="printinfo(this.classList)">printinfo</span></li>
        <li><span class="command staging" onclick="qptool(this.classList)">query_ptool</span></li>
        <li><span class="command staging" onclick="source(this.classList)">source (module)</span></li>
        <li><span class="command staging" onclick="unlock(this.classList)">unlock</span></li>
        <li><span class="command staging" onclick="versionhistory(this.classList)">version history</span></li>
        <li><span class="command staging" onclick="webview(this.classList)">webview</span></li>
        <li><em><a class="command staging" onclick="queue_tool(this.classList)">Queue Tool (legacy print)</a></em></li>
        <li><em><a class="command staging" onclick="gob(this.classList)">GOB Baking Monitoring Tool</a></em></li>
      </ul>

      <h2>
        <span class="servername qa" onclick="gotoserver(this.classList)">legacy-qa.cnx.org</span>
        <span class="servername qa" onclick="frontend(this.classList)">(front end)</span>
      </h2>
      <ul>
        <li><span class="command qa" onclick="collxml(this.classList)">collection.xml</span></li>
        <li><span class="command qa" onclick="completezip(this.classList)">complete zip</span></li>
        <li><span class="command qa" onclick="metadata(this.classList)">content info (metadata)</span></li>
        <li><span class="command qa" onclick="downloads(this.classList)">downloads</span></li>
        <li><span class="command qa" onclick="enqueue(this.classList)">enqueue</span></li>
        <li><span class="command qa" onclick="latest(this.classList)">latest</span></li>
        <li><span class="command qa" onclick="lock(this.classList)">lock</span></li>
        <li><span class="command qa" onclick="downloadPDF(this.classList)">pdf</span></li>
        <li><span class="command qa" onclick="printparameters(this.classList)">print parameters</span></li>
        <li><span class="command qa" onclick="printinfo(this.classList)">printinfo</span></li>
        <li><span class="command qa" onclick="qptool(this.classList)">query_ptool</span></li>
        <li><span class="command qa" onclick="source(this.classList)">source (module)</span></li>
        <li><span class="command qa" onclick="unlock(this.classList)">unlock</span></li>
        <li><span class="command qa" onclick="versionhistory(this.classList)">version history</span></li>
        <li><span class="command qa" onclick="webview(this.classList)">webview</span></li>
        <li><em><a class="command qa" onclick="queue_tool(this.classList)">Queue Tool (legacy print)</a></em></li>
        <li><em><a class="command qa" onclick="gob(this.classList)">GOB Baking Monitoring Tool</a></em></li>
      </ul>
    </div>

    <div class="clear">
      <p>
        <br />
        <!-- insert whatever text here to span the full width of the page -->
      </p>
    </div>
  </div>
</body>
</html>
